#tumblrfeed {
}

#tumblrfeed a img {
    border-style: none;
}

.tumblrfeed-main-title {
}

.tumblrfeed-post {
    text-align: justify;
    padding: 2% 4%;
}

.tumblrfeed-topborder {
    border-top-width: 2px;
    border-top-color: gray;
    border-top-style: dotted;
}

.tumblrfeed-pagination {
    text-align: right;
}

.tumblrfeed-type-title {
    font-size: 110%;
    font-weight: bold;
}

.tumblrfeed-title {
    font-weight: bold;
    font-size: 150%;
}

.tumblrfeed-link {
}

.tumblrfeed-link-title {
}

.tumblrfeed-quote {
}

.tumblrfeed-quotesource {
}

.tumblrfeed-photo {
    text-align: center;
}

.tumblrfeed-caption {
}

.tumblrfeed-question {
}

.tumblrfeed-answer {
}

.tumblrfeed-qatitle {
}

.tumblrfeed-error {
    font-size: 120%;
    font-weight: bold;
    color: #b20000;
}

.tumblrfeed-read-entry {
    text-align: right;
}
