#tumblrentry {
}

#tumblrentry a img {
    border-style: none;
}

.tumblrentry-main-title {
}

.tumblrentry-post {
    text-align: justify;
    padding: 2% 4%;
}

.tumblrentry-topborder {
    border-top-width: 2px;
    border-top-color: gray;
    border-top-style: dotted;
}

.tumblrentry-pagination {
    text-align: right;
}

.tumblrentry-type-title {
    font-size: 110%;
    font-weight: bold;
}

.tumblrentry-title {
    font-weight: bold;
    font-size: 150%;
}

.tumblrentry-link {
}

.tumblrentry-link-title {
}

.tumblrentry-quote {
}

.tumblrentry-quotesource {
}

.tumblrentry-photo {
    text-align: center;
}

.tumblrentry-caption {
}

.tumblrentry-question {
}

.tumblrentry-answer {
}

.tumblrentry-qatitle {
}

.tumblrentry-error {
    font-size: 120%;
    font-weight: bold;
    color: #b20000;
}

